.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40 px;
    color: #010101;
}

.title {
    font-size: 4rem;
    text-align: center;
}